<ion-view title="Poker World" >
    <ion-content padding="true" scroll="false" class="background">
        <form>
            <ion-list class="no-border">
                <div class="row">
                    <div class="col">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Username</span>
                            <input type="text" class="white-text" placeholder="">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Password</span>
                            <input type="password" class="white-text" placeholder="">
                        </label>
                    </div>
                </div>
            </ion-list>
            <ion-checkbox class="balanced no-border transparent white-text checkbox-assertive">Remember me</ion-checkbox>
            <button class="button button-assertive button-block">Log in</button>
            <button class="button button-assertive button-block" ui-sref="app.signup">Sign up</button>
            <button class="button button-assertive button-block">Register Casino</button>
        </form>
    </ion-content>
</ion-view>