<ion-view title="Poker World" >
    <ion-content padding="true" class="background">
        <h2>Admins</h2>
        <div style="overflow:hidden">
            <ion-list ng-repeat="user in users">
                <ion-item class="green-item white-text" ng-click="selectUser(user)" ng-class="{'green-item-active':user == selectedUser}">
                    {{user.name}}({{user.role}})
                </ion-item>
            </ion-list>
        </div>
            <button class="button-block button-full button-assertive" ng-class="{'active':buttons.activeButton==3}" ng-click="toolbarButtonClicked(3)">
                Remove
            </button>

    </ion-content>
</ion-view>