<ion-view title="Poker World">
    <ion-content padding="true" class ="has-header background">
        <form name="tournamentForm" novalidate>
            <ion-list> 
            
                <!-- Name of the Tournament and Type of Poker -->
                <div class="row">
                    <div class="col">
                        <h3 class="white-text">Cash Game Info:</h3>
                    </div>    
                </div>    
                
                <div class="row">
                    <div class="col">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Name</span>
                            <input class="white-text" name="name" type="text" placeholder="" ng-model="cashGame.name" >
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Type of Poker</span>
                            <input name="style" type="text" placeholder="" ng-model="cashGame.style">
                        </label>
                    </div>
                </div>
                
                <!-- Cash game sit down amounts -->
                <div class="row">
                    <div class="col">
                        <h3 class="white-text">Seat Down Amount:</h3>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Min</span>
                            <input name="min" type="text" placeholder="" ng-model="cashGame.min">
                        </label>
                    </div>                 
                    <div class="col">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Max</span>
                            <input name="max" type="text" placeholder="" ng-model="cashGame.max">
                        </label>
                    </div>    
                </div>
                
                <!-- Blind sizes -->
                <div class="row">
                    <div class="col">
                        <h3 class="white-text">Blinds:</h3>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Small</span>
                            <input name="small" type="text" placeholder="" ng-model="cashGame.small">
                        </label>
                    </div>    
                    <div class="col">    
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Big</span>
                            <input name="big" type="text" placeholder="" ng-model="cashGame.big">
                        </label>
                    </div>    
                </div>
                
               
            </ion-list>
            <div class="row">
                <div class="col">
                    <button class="button button-assertive button-block" type="submit">Create Cash Game</button>
                </div>
            </div>    
        </form>
    </ion-content>
</ion-view>