<ion-view title="Poker World">
    <ion-content padding="true" class ="has-header background">
        <form name="cashGameForm" novalidate ng-submit="submitTemplate(cashGameForm)">
            <div class="list card card-info">
                
            <ion-list> 
                <!-- Name of the Tournament and Type of Poker -->
                    <div class="item item-divider">
                        <h3 class="white-text">Cash Game Information:</h3>
                    </div>
                    
                    <div class="item item-body">
                        <div class="row">
                            <div class="col">
                                <p class="input-label white-text">Name</p>
                                <label class="item item-input" id="card-info-input-field" ng-class="{ 'has-errors' : cashGameForm.name.$invalid && cashGameForm.$submitted}">
                                    <input class="white-text" name="name" type="text" placeholder="" ng-model="cashGame.name" required>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="input-label white-text">Poker Type</p>
                                <label class="item item-input" id="card-info-input-field" ng-class="{ 'has-errors' : cashGameForm.style.$invalid && cashGameForm.$submitted}">
                                    <input name="style" type="text" placeholder="" ng-model="cashGame.style" required>
                                </label>
                            </div>
                        </div>
                    </div>
                        <!-- Cash game sit down amounts -->
                        <div class="item item-divider">
                            <h4 class="white-text">Seat Down Amounts:</h4>
                        </div>
                    <div class="item item-body">    
                        <div class="row">
                            <div class="col">
                                <p class="input-label white-text">Minimum</p>
                                <label class="item item-input" id="card-info-input-field" ng-class="{ 'has-errors' : cashGameForm.min.$invalid && cashGameForm.$submitted}">
                                    <input name="min" type="text" placeholder="" ng-model="cashGame.min" required>
                                </label>
                            </div>                 
                            <div class="col">
                                <p class="input-label white-text">Maximum</p>
                                <label class="item item-input" id="card-info-input-field" ng-class="{ 'has-errors' : cashGameForm.max.$invalid && cashGameForm.$submitted}">
                                    <input name="max" type="text" placeholder="" ng-model="cashGame.max" required>
                                </label>
                            </div>    
                        </div>
                    </div>  
                    
                        <!-- Blind sizes -->
                        <div class="item item-divider">
                            <h4 class="white-text">Blinds:</h4>
                        </div>
                        
                    <div class="item item-body">    
                        <div class="row">
                            <div class="col">
                                <p class="input-label white-text">Small</p>
                                <label class="item item-input" id="card-info-input-field" ng-class="{ 'has-errors' : cashGameForm.small.$invalid && cashGameForm.$submitted}">
                                    <input name="small" type="text" placeholder="" ng-model="cashGame.smallBlind" required>
                                </label>
                            </div>    
                            <div class="col">    
                                <p class="input-label white-text">Big</p>
                                <label class="item item-input" id="card-info-input-field" ng-class="{ 'has-errors' : cashGameForm.big.$invalid && cashGameForm.$submitted}">
                                    <input name="big" type="text" placeholder="" ng-model="cashGame.bigBlind" required>
                                </label>
                            </div>    
                        </div>
                    </div>    
                </ion-list>
                    <div class="item item-body">   
                        <div class="row">
                            <div class="col">
                                <button class="button button-assertive button-block" type="submit">Create Cash Game</button>
                            </div>
                        </div>
                    </div>
                    
               </div> 
        </form>
    </ion-content>
</ion-view>