<ion-view title="Poker World" >
    <ion-content padding="true" class="background">
        <h2>Create a Post</h2>
        <!-- Creating a post form -->
        <form name="creatingPost" novalidate ng-submit="createPost(creatingPost)">
            <div class="card card-info">
                <div class="item item-avatar">
                    <!-- <img src="casino pic"> -->
                    <h2 class="white-text">{{casino.name}}</h2>
                    <p class="white-text">{{post.postDate | date:'yyyy-MM-dd'}}</p>
                </div>
                <div class="item item-divider">
                    <h4 class="white-text">Posts Body</h4>
                </div>    
                <div class="item item-body">
                        <textarea class="green-item white-text" name="text" ng-model="post.text" required></textarea>
                </div>
                <div class="item item-body">
                    <button class="button button-assertive button-block" type="submit">
                        Create a Post
                    </button>    
                </div>
            </div>
        </form>

    </ion-content>
</ion-view>