<ion-view title="Poker World" >
    <ion-content padding="true" class="background">
        <h2>Admins</h2>
        <div style="overflow:hidden">
            <ion-list ng-repeat="user in users">
                <ion-item class="green-item white-text" ng-click="selectUser(user)" ng-class="{'green-item-active':user == selectedUser}">
                    {{user.firstName}} {{user.lastName}}({{user.role}})
                </ion-item>
            </ion-list>
        </div>
        <div class="button-bar"> <!-- this solves the decision of pushing multiple buttons -->
            <button class="button-block button button-assertive" ng-class="{'active':buttons.activeButton==1}" ng-click="toolbarButtonClicked(1)">
                Add
            </button>
            <button class="button-block button button-assertive" ng-class="{'active':buttons.activeButton==2}" ng-click="toolbarButtonClicked(2)">
                Edit
            </button>
            <button class="button-block button button-assertive" ng-class="{'active':buttons.activeButton==3}" ng-click="toolbarButtonClicked(3)">
                Remove
            </button>
        </div>
        <!-- Add user section -->
        <div ng-show="buttons.activeButton==1">
            <form name="newCasinoUserForm" novalidate ng-submit="submitNewCasinoUserForm(newCasinoUserForm)">
                <div class="row">
                    <div class="col" ng-class="{ 'has-errors' : newCasinoUserForm.username.$invalid && newCasinoUserForm.$submitted}">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Username</span>
                            <input name="username" type="text" class="white-text" ng-model="newUser.username" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-class="{ 'has-errors' : newCasinoUserForm.firstName.$invalid && newCasinoUserForm.$submitted}">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">First Name</span>
                            <input name="firstName" type="text" class="white-text" ng-model="newUser.firstName" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-class="{ 'has-errors' : newCasinoUserForm.lastName.$invalid && newCasinoUserForm.$submitted}">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Last Name</span>
                            <input name="lastName" type="text" class="white-text" ng-model="newUser.lastName" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-class="{ 'has-errors' : newCasinoUserForm.email.$invalid && newCasinoUserForm.$submitted}">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">User's email</span>
                            <input name="email" type="email" class="white-text" ng-model="newUser.email" required>
                        </label>
                    </div>
                </div>
                <ion-checkbox class="balanced no-border transparent white-text checkbox-assertive" ng-model="newUser.role">Admin User?</ion-checkbox>
                <button type="submit" class="button button-assertive button-block">Submit</button>
            </form>
        </div>
        <!-- Edit user section -->
        <div ng-show="buttons.activeButton==2">
            <form name="editCasinoUserForm" novalidate ng-submit="submitEditCasinoUserForm(editCasinoUserForm)">
                <div class="row">
                    <div class="col" ng-class="{ 'has-errors' : editCasinoUserForm.username.$invalid && editCasinoUserForm.$submitted}">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Username</span>
                            <input name="username" type="text" class="white-text" ng-model="managedUser.username" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-class="{ 'has-errors' : editCasinoUserForm.firstName.$invalid && editCasinoUserForm.$submitted}">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">First Name</span>
                            <input name="firstName" type="text" class="white-text" ng-model="managedUser.firstName" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-class="{ 'has-errors' : editCasinoUserForm.lastName.$invalid && editCasinoUserForm.$submitted}">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">Last Name</span>
                            <input name="lastName" type="text" class="white-text" ng-model="managedUser.lastName" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-class="{ 'has-errors' : editCasinoUserForm.email.$invalid && editCasinoUserForm.$submitted}">
                        <label class="item item-input green-item">
                            <span class="input-label white-text">User's email</span>
                            <input name="email" type="email" class="white-text" ng-model="managedUser.email" required>
                        </label>
                    </div>
                </div>
                <ion-checkbox class="balanced no-border transparent white-text checkbox-assertive" ng-model="managedUser.role">Admin User?</ion-checkbox>
                <button type="submit" class="button button-assertive button-block">Edit</button>
            </form>
        </div>
    </ion-content>
</ion-view>