<ion-view title="Poker World" >
    <ion-content padding="true" class="has-header background">
        <form name="manageTodayForm" ng-submit="updatingView()"> 
            <!-- Title for Tournaments below. Start of tournament management section -->
        <div class="list card card-info">
                <div class="item item-divider">
                    <h1 class="title white-text">Tournaments:</h1>
                </div>
            <div class="item item-body">
            <!-- tournaments that are displayed on view today below -->
                <h2 class="input-label white-text">Happening Today</h2>
                    
                <div>
                    <ul class="list">
                        <li class="item"  ng-repeat="tournament in manageTournaments | filter: tournament.displayed = true">    
                            <ion-checkbox class="white-text" ng-model="tournament.displayed">{{tournament.name}}</ion-checkbox>
                        </li>
                    </ul>    
                </div> 
                <!-- tournaments that are  not displayed on view today below -->
                <h2 class="input-label white-text">Templates Avaliable</h2>
            
                <div>
                    <ul class="list">
                        <li class="item"  ng-repeat="tournament in manageTournaments| filter: tournament.displayed = false">    
                            <ion-checkbox  class="white-text" ng-model="tournament.displayed">{{tournament.name}}</ion-checkbox>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
            <!-- Title for Cash Games below. Start of Cash game management section -->
        <div class="list card card-info">    
            <div class="item item-divider">
                <h1 class="title white-text">Cash Games:</h1>
            </div>
            <!-- Cash game templates that are displayed below -->
            <div class="item item-body">
                    <h2 class="input-label white-text">Happening today</h2>
                    <div>
                        <ul class="list">
                            <li class="item" ng-repeat="cashGame in manageCashGames | filter: cashGame.displayed=true">
                                <ion-checkbox class="white-text" ng-model="cashGame.displayed">{{cashGame.name}}</ion-checkbox>
                            </li>
                        </ul>    
                    </div> 
                    <!-- Cash game templates that are not displayed below -->
                    <h2 class="input-label white-text"> Templates Avaliable</h2>
                    
                    <div>
                        <ul class="list">
                            <li class="item" ng-repeat="cashGame in manageCashGames | filter: cashGame.displayed = false">
                                <ion-checkbox class="white-text" ng-model="cashGame.displayed">{{cashGame.name}}</ion-checkbox>
                            </li>
                        </ul>    
                    </div>
                </div>  
            </div>
            <button class="button button-assertive button-block " type="submit">
                Make Changes
            </button>    
        </form>
    </ion-content>
</ion-view>