<ion-view title="Poker World">
    <ion-content padding="true" class ="has-header background">
        <form name="tournamentForm" novalidate>
            <ion-list> 
            <div class="card card-info">
                
                <div class="item item-divider">
                    <h3 class="white-text">Tournament Information:</h3>
                </div>
            
                <!-- Name of the Tournament and Type of Poker -->
                <div class="item item-body">
                    <div class="row">
                        <div class="col">
                            <p class="input-label white-text">Name</p>
                            <label class="item item-input" id="card-info-input-field" ng-class="{ 'has-errors' : tournamentForm.name.$invalid && tournamentForm.$submitted}">
                                <input name="name" type="text" placeholder="" ng-model="tournament.name" required>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="input-label white-text">Poker Type</p>
                            <label class="item item-input green-item" id="card-info-input-field"  ng-class="{ 'has-errors' : tournamentForm.style.$invalid && tournamentForm.$submitted}">
                                <input name="style" type="text" placeholder="" ng-model="tournament.style" required>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">       
                            <p class="input-label white-text">Start Time:</p>
                            <label class="item item-input green-item" id="card-info-input-field" ng-class="{ 'has-errors' : tournamentForm.startTime.$invalid && tournamentForm.$submitted}">
                                <input name="startTime" type="text" placeholder="" ng-model="tournament.startTime" required>
                            </label>
                        </div>
                    </div>
                </div>    
                    <!-- Tournament Costs, reloads, and Stack sizes -->
                <div class="item item-divider">
                    <h3 class="white-text">Entry:</h4>
                </div>    
                    
                <div class="item item-body">    
                    <div class="row">
                        <div class="col">
                            <p class="input-label white-text">Cost</p>
                            <label class="item item-input green-item" id="card-info-input-field" ng-class="{ 'has-errors' : tournamentForm.entryCost.$invalid && tournamentForm.$submitted}">
                                <input name="entryCost" type="text" placeholder="" ng-model="tournament.entryCost" required>
                            </label>
                        </div>
                    </div>    
                    <div class="row">    
                        <div class="col">
                            <p class="input-label white-text">Stack Size</p>
                            <label class="item item-input green-item" id="card-info-input-field" ng-class="{ 'has-errors' : tournamentForm.startStack.$invalid && tournamentForm.$submitted}">
                                <input name="startStack" type="text" placeholder="" ng-model="tournament.startStack" required>
                            </label>
                        </div>    
                    </div>
                </div>    
                        
                        <!-- here is the where reload section begins. The idea is if the checkbox is checked 
                             then the number, cost, and reload stack input fields.
                             -->
                <div class="item item-divider">
                        <ion-checkbox class="green-item white-text">Reload?</ion-checkbox>
                </div>
                <div class="item item-body">
                    <div class="row">
                        <div class="col">
                            <p class="input-label white-text">Amount:</p>
                            <label class="item item-input green-item" id="card-info-input-field" ng-class="{ 'has-errors' : tournamentForm.reloadNum.$invalid && tournamentForm.$submitted}">
                                <input name="reloadNum" type="text" placeholder="" ng-model="tournament.reloadNum" required>
                            </label>
                        </div>    
                        <div class="col">    
                            <p class="input-label white-text">Cost:</p>
                            <label class="item item-input green-item" id="card-info-input-field" ng-class="{ 'has-errors' : tournamentForm.reloadCost.$invalid && tournamentForm.$submitted}">
                                <input name="reloadCost" type="text" placeholder="" ng-model="tournament.reloadCost" required>
                            </label>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="input-label white-text">Stack Size</p>
                            <label class="item item-input green-item" id="card-info-input-field" ng-class="{ 'has-errors' : tournamentForm.reloadStack.$invalid && tournamentForm.$submitted}">
                                <input name="reloadStack" type="text" placeholder="" ng-model="tournament.reloadStack"  required>
                            </label>
                        </div>
                    </div>
                </div>
                    
                    <!-- Next Section deals with periods of time regStart, regEnd, levelMins, ect. -->
                <div class="item item-divider">
                    <h3 class="white-text">Registration Period:</h4>
                </div>
                <div class="item item-body">
                    <div class="row">
                        <div class="col">
                            <p class="input-label white-text">Start</p>
                            <label class="item item-input green-item" id="card-info-input-field" ng-class="{ 'has-errors' : tournamentForm.regStart.$invalid && tournamentForm.$submitted}">
                                <input name="regStart" type="text" placeholder="" ng-model="tournament.regStart" required>
                            </label>
                        </div>
                        <div class="col"> 
                            <p class="input-label white-text">End</p>
                            <label class="item item-input green-item" id="card-info-input-field" ng-class="{ 'has-errors' : tournamentForm.regEnd.$invalid && tournamentForm.$submitted}">
                                <input name="regEnd" type="text" placeholder="" ng-model="tournament.regEnd" required>
                            </label>
                        </div>
                    </div>
                </div>      
                    
                    <!-- Adding levels and setting the small/big blinds amount -->
                <div class="item item-divider">
                    <h3 class="white-text">Level Specfics:</h4>
                </div>
                    
                <div class="item item-body">
                    <div class="row">    
                        <div class="col">
                            <p class="input-label white-text">Timer</p>
                            <label class="item item-input green-item" id="card-info-input-field" ng-class="{ 'has-errors' : tournamentForm.levelMinutes.$invalid && tournamentForm.$submitted}">
                                <input name="levelMinutes" type="text" placeholder="" ng-model="blind.levelMinutes" required>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="input-label white-text">Add levels:</p>
                        </div>
                        <div class="col col-offset-80">
                            <br><button class="button button-clear icon ion-plus-circled"></button>
                        </div>    
                    </div>
                                        <!--
                                        in order to make this feature work i believe will need to write a 
                                        directive or it'll need to be part of the tournamentTemplate controller
                                         -->
                </ion-list>
                
                <!-- Create tournament Button -->
                
                    <div class="row">
                        <div class="col">
                            <button class="button button-assertive button-block" >Create Tournament</button>
                        </div>
                    </div>
                  </div>  
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>